openapi: 3.0.3
info:
  termsOfService: https://developer.grab.com/pages/terms-of-use
  title: GrabFood
  version: 1.1.3
servers:
- description: Staging Environment - Manual Partner Onboarding
  url: https://partner-api.stg-myteksi.com/grabfood-sandbox
- description: Staging Environment - Self Serve Partner Onboarding
  url: https://partner-api.grab.com/grabfood-sandbox
- description: Production Environment
  url: https://partner-api.grab.com/grabfood
tags:
- name: sdk-intro
  x-displayName: GrabFood SDK
- name: go
  x-displayName: Go
- name: java
  x-displayName: Java
- name: get-oauth-grab
  x-displayName: Get GrabFood access token
- name: get-oauth-partner-webhook
  x-displayName: Get partner access token webhook
- name: get-menu-webhook
  x-displayName: Get food menu webhook
- name: update-menu-record
  x-displayName: Update menu record
- name: update-menu-notification
  x-displayName: Update menu notification
- name: menu-sync-webhook
  x-displayName: Menu sync webhook
- name: trace-menu-sync
  x-displayName: Trace menu sync
- name: sync-flow
  x-displayName: Menu sync flow
- name: submit-order-webhook
  x-displayName: Submit order webhook
- name: accept-reject-order
  x-displayName: Accept/reject orders
- name: list-orders
  x-displayName: List orders
- name: edit-order
  x-displayName: Edit orders
- name: order-state-webhook
  x-displayName: Push order state webhook
- name: mark-order-ready
  x-displayName: Mark orders ready
- name: update-delivery-state
  x-displayName: Update delivery state
- name: update-order-ready-time
  x-displayName: Update order ready time
- name: check-order-cancelable
  x-displayName: Check if order is cancelable
- name: cancel-order
  x-displayName: Cancel order
- name: pause-store
  x-displayName: Temporarily pause store
- name: campaign-type
  x-displayName: Campaign type
- name: create-campaign
  x-displayName: Create campaigns
- name: update-campaign
  x-displayName: Update campaigns
- name: list-campaign
  x-displayName: List campaigns
- name: delete-campaign
  x-displayName: Delete campaigns
- name: troubleshooting
  x-displayName: Troubleshooting
- name: faqs
  x-displayName: Frequently asked questions (FAQs)
- name: changelog
  x-displayName: Changelog
- name: scan-to-order
  x-displayName: Scan to order
- name: get-store-hour
  x-displayName: Get Store Hours
- name: get-store-status
  x-displayName: Get Store Status
- name: update-store-delivery-hour
  x-displayName: Update Store Delivery Hours
- name: update-store-dine-in-hour
  x-displayName: Update Store Dine-in Hours
- name: update-store-special-hour
  x-displayName: Update Store Special Hours
- name: get-dinein-voucher
  x-displayName: Get Dine In Voucher
- name: redeem-dinein-voucher
  x-displayName: Redeem Dine In Voucher
- name: partner-loyalty-native
  x-displayName: Partner Loyalty Program (Native)
- name: partner-loyalty-webview
  x-displayName: Partner Loyalty Program (Webview)
- name: bind-membership-native
  x-displayName: Bind membership
- name: register-membership-native
  x-displayName: Register membership
- name: notify-membership-webview
  x-displayName: Notify membership
- name: unbind-membership-native
  x-displayName: Unbind membership
- name: unlink-membership-webview
  x-displayName: Unlink membership
- name: get-membership-native
  x-displayName: Get membership detail
- name: get-membership-webview
  x-displayName: Get membership detail
- name: get-reward-native
  x-displayName: Calculate reward points
paths:
  /partner/v2/merchants/{merchantID}/store/special-opening-hour:
    put:
      operationId: update-store-special-hour
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: false
        in: path
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpecialHourRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpecialHourResponse'
          description: Success
        "401":
          description: Unauthorized. The access token is invalid.
        "5XX":
          description: All other unexpected errors.
      summary: Update Store Special Hours
      tags:
      - update-store-special-hour
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X PUT 'https://partner-api.grab.com/grabfood/partner/v2/merchants/1-C3VEJY6CMEEGUE/store/special-opening-hour' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -H 'Content-Type: application/json' \
          -d '{
            "specialOpeningHours": [
              {
                "startDate": "2024-05-01",
                "endDate": "2024-09-04",
                "metadata": {
                  "description": "Holiday Season Special Hours"
                },
                "openingHours": {
                  "openPeriodType": "Period",
                  "periods": [
                    {
                      "startTime": "09:00",
                      "endTime": "12:00"
                    },
                    {
                      "startTime": "13:00",
                      "endTime": "18:00"
                    }
                  ]
                }
              },
              {
                "startDate": "2024-09-05",
                "endDate": "2024-09-10",
                "metadata": {
                  "description": "New Year Special Hours"
                },
                "openingHours": {
                  "openPeriodType": "OpenAllDay"
                }
              }
            ]
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/merchants/{merchantID}/store/dine-in-hours:
    put:
      operationId: update-store-dine-in-hour
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: false
        in: path
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDineInHourRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDineInHourResponse'
          description: Success
        "401":
          description: Unauthorized. The access token is invalid.
        "5XX":
          description: All other unexpected errors.
      summary: Update Store Dine-in Hours
      tags:
      - update-store-dine-in-hour
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X PUT 'https://partner-api.grab.com/grabfood/partner/v1/merchants/1-C3VEJY6CMEEGUE/store/dine-in-hours' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -H 'Content-Type: application/json' \
          -d '{
            "dineInHour": {
              "mon": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                },
                {
                  "startTime": "01:00",
                  "endTime": "01:05"
                }
              ],
              "tue": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                }
              ],
              "wed": [],
              "thu": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                }
              ],
              "fri": [],
              "sat": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                }
              ],
              "sun": []
            }
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/merchants/{merchantID}/store/opening-hours:
    put:
      operationId: update-store-delivery-hour
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: false
        in: path
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeliveryHourRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDeliveryHourResponse'
          description: Success
        "401":
          description: Unauthorized. The access token is invalid.
        "5XX":
          description: All other unexpected errors.
      summary: Update Store Delivery Hours
      tags:
      - update-store-delivery-hour
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X PUT 'https://partner-api.grab.com/grabfood/partner/v1/merchants/1-C3VEJY6CMEEGUE/store/opening-hours' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -H 'Content-Type: application/json' \
          -d '{
            "openingHour": {
              "mon": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                },
                {
                  "startTime": "01:00",
                  "endTime": "01:05"
                }
              ],
              "tue": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                }
              ],
              "wed": [],
              "thu": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                }
              ],
              "fri": [],
              "sat": [
                {
                  "startTime": "00:00",
                  "endTime": "00:05"
                }
              ],
              "sun": [],
              "force": true
            }
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/merchants/{merchantID}/store/status:
    get:
      operationId: get-store-status
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: false
        in: path
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreStatusResponse'
          description: Success
        "401":
          description: Unauthorized. The access token is invalid.
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: All other unexpected errors.
      summary: Get Store Status
      tags:
      - get-store-status
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X GET 'https://partner-api.grab.com/grabfood/partner/v1/merchants/1-C3VEJY6CMEEGUE/store/status' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>'
      x-accepts:
      - application/json
  /partner/v2/merchants/{merchantID}/store/hours:
    get:
      operationId: get-store-hour
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: false
        in: path
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreHourResponse'
          description: Success
        "401":
          description: Unauthorized. The access token is invalid.
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: All other unexpected errors.
      summary: Get Store Hours
      tags:
      - get-store-hour
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X GET 'https://partner-api.grab.com/grabfood/partner/v2/merchants/1-C3VEJY6CMEEGUE/store/hours' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>'
      x-accepts:
      - application/json
  /grabid/v1/oauth2/token:
    post:
      operationId: get-oauth-grab
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrabOauthRequest'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrabOauthResponse'
          description: The API request is successfully processed.
      servers:
      - description: Staging Environment - Manual Partner Onboarding
        url: https://api.stg-myteksi.com
      - description: Staging Environment - Self Serve Partner Onboarding
        url: https://api.grab.com
      - description: Production Environment
        url: https://api.grab.com
      summary: Get Oauth access token
      tags:
      - get-oauth-grab
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -X POST https://api.stg-myteksi.com/grabid/v1/oauth2/token \
          -H 'Content-Type: application/json' \
          -d '{
              "client_id": "<CLIENT_ID>",
              "client_secret": "<CLIENT_SECRET>",
              "grant_type": "client_credentials",
              "scope": "food.partner_api"
            }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/menu:
    put:
      operationId: update-menu
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_menu_request'
        description: ""
        required: true
      responses:
        "204":
          description: Successful. No Content returned.
      summary: Update menu record
      tags:
      - update-menu-record
      x-codeSamples:
      - lang: cURL
        label: Update menu item
        source: |
          curl -X PUT \
          https://partner-api.grab.com/grabfood/partner/v1/menu \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
          "merchantID": "1-C3VEJY6CMEEGUE",
          "field": "ITEM",
          "id": "111",
          "price": 123, // 1.23 Dollar
          "availableStatus": "<AVAILABLE|UNAVAILABLE|UNAVAILABLETODAY>",
          "maxStock": 10,
          "advancedPricings": [
            {
              "key": "Delivery_Scheduled_GrabApp",
              "price": 110
            }
          ],
          "purchasabilities": [
            {
              "key": "Delivery_Scheduled_GrabApp",
              "purchasable": true
            }
          ]
          }'
      - lang: cURL
        label: Update menu modifier
        source: |
          curl -X PUT \
          https://partner-api.grab.com/grabfood/partner/v1/menu \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
          "merchantID": "1-C3VEJY6CMEEGUE",
          "field": "MODIFIER",
          "id": "111",
          "price": 123, // 1.23 Dollar
          "availableStatus": "<AVAILABLE|UNAVAILABLE|UNAVAILABLETODAY>",
          "name": "caramel sauce",
          "isFree": false,
          "advancedPricings": [
            {
              "key": "Delivery_Scheduled_GrabApp",
              "price": 110
            }
          ]
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/batch/menu:
    put:
      operationId: batch-update-menu
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateMenuItem'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateMenuResponse'
          description: The API request is successfully processed. Refer to status
            and errors for more info.
        "400":
          description: |
            invalid_argument
            | Description |
            | ----------- |
            | Invalid parameter |
            | Batch update menu support at most 200 items |
        "409":
          description: |
            conflict. BatchUpdate ITEM xxx too frequently, retry after 10 seconds
        "429":
          description: |
            Too Many Requests
      summary: Batch Update Menu
      tags:
      - update-menu-record
      x-codeSamples:
      - lang: cURL
        label: Batch update menu item
        source: |
          curl -X PUT \
          https://partner-api.grab.com/grabfood/partner/v1/batch/menu \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
            "merchantID": "1-C3VEJY6CMEEGUE",
            "field": "ITEM",
            "menuEntities": [
              {
                "id": "111",
                "price": 123, // 1.23 Dollar
                "availableStatus": "AVAILABLE|UNAVAILABLE|UNAVAILABLETODAY",
                "maxStock": 10,
                "advancedPricings": [
                  {
                    "key": "Delivery_Scheduled_GrabApp",
                    "price": 110
                  }
                ],
                "purchasabilities": [
                  {
                    "key": "Delivery_Scheduled_GrabApp",
                    "purchasable": true
                  }
                ]
              },
              {
                "id": "222",
                "price": 456, // 1.23 Dollar
                "availableStatus": "UNAVAILABLE"
              }
            ]
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/merchant/menu/notification:
    post:
      operationId: update-menu-notification
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMenuNotifRequest'
        description: ""
        required: true
      responses:
        "204":
          description: Successful. No Content returned.
          headers:
            x-job-id:
              description: "Uniquely identifies a menu sync job. Please mention this\
                \ value while raising any issues on [Menu sync webhook](#tag/menu-sync-webhook)."
              example: 36bb8bb8-4aef-4eca-bed9-fd5ae1e4dc11
              explode: false
              schema:
                type: string
              style: simple
      summary: Notify Grab of updated menu
      tags:
      - update-menu-notification
      x-codeSamples:
      - lang: cURL
        label: Update Menu Notification
        source: |
          curl -X POST \
          https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/merchant/menu/notification \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
            "merchantID": "1-C3VEJY6CMEEGUE"
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/merchant/menu/trace:
    get:
      operationId: trace-menu-sync
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: true
        in: query
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuSyncResponse'
          description: Sync success or fail
        "4xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Common error
      summary: Trace menu sync
      tags:
      - trace-menu-sync
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X GET 'https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/merchant/menu/trace?merchantID=1-C3VEJY6CMEEGUE' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>'
      x-accepts:
      - application/json
  /partner/v1/order/prepare:
    post:
      operationId: accept-reject-order
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptOrderRequest'
        description: ""
        required: true
      responses:
        "204":
          description: Successful. No content returned.
      summary: Manually accept/reject orders
      tags:
      - accept-reject-order
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -X POST \
          https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/order/prepare \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
            "orderID": "123-CYNKLPCVRN5",
            "toState": "Accepted"
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/orders:
    get:
      operationId: list-orders
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: true
        in: query
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: form
      - explode: true
        in: query
        name: date
        required: true
        schema:
          $ref: '#/components/schemas/date'
        style: form
      - description: Specify the page number for the report.
        example: 1
        explode: true
        in: query
        name: page
        required: true
        schema:
          type: integer
        style: form
      responses:
        "2xx":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrdersResponse'
          description: Sync success
      summary: List orders
      tags:
      - list-orders
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -X GET \
          https://partner-api.grab.com/grabfood/partner/v1/orders?merchantID=1-C3VEJY6CMEEGUE&date=2020-01-20&page=0 \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>'
      x-accepts:
      - application/json
  /partner/v1/orders/{orderID}:
    put:
      operationId: edit-order
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - explode: false
        in: path
        name: orderID
        required: true
        schema:
          $ref: '#/components/schemas/orderID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditOrderRequest'
        required: true
      responses:
        "204":
          description: Successful. No content returned.
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_argument Fail example with code and reason.\n| Code\
            \ | Reason | Message |\n| ------| ------| ------ |\n| 400 | invalid_argument\
            \ | nothing changed |\n| 400 | invalid_argument | can't remove all items\
            \ |\n| 404 | not_found | order detail abnormal |\n| 403 | forbidden |\
            \ not editable |\n| 400 | invalid_argument | recalculate failed |\n| 400\t\
            | invalid_argument|\tsubmit edit failed |\n| 404\t| not_found\t| get merchant\
            \ failed |\n| 400\t| invalid_argument | exceed basket limit |\n| 400\t\
            | invalid_argument | exceed price increase limit |\n| 400\t| invalid_argument\
            \ | negative weight |\n| 400\t| invalid_argument | parameters must include\
            \ all items |\n| 400\t| invalid_argument | fraud check error |\n| 400\
            \  | invalid_argument | externalItemID not supported for this status |\n\
            | 400 | invalid_argument | externalItemID inactive or out of selling time\
            \ |\n| 400 | invalid_argument | added item invalid |\n"
      summary: Edit Order
      tags:
      - edit-order
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl --location --request PUT 'https://partner-api.grab.com/grabfood/partner/v1/orders/91725890-C25KME4ZVP2FLX' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer <BEARER_TOKEN_HERE>'
          --data-raw '{
            "orderID":"91725890-C25KME4ZVP2FLX",
            "items":[
              {
                "itemID":"IDGFSTI000004qy1490868132306763533",
                "status":"DELETED",
                "quantity": 3,
                "isExternalItemID": false
              },
              {
                "itemID":"IDGFSTI000004qy1490868121450639138",
                "status":"UPDATED",
                "quantity": 2,
                "isExternalItemID": false
              },
              {
                "itemID":"Burger_2",
                "status":"ADDED",
                "quantity": 3,
                "isExternalItemID": true
              }
            ],
            "onlyRecalculate": false
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/orders/mark:
    post:
      operationId: mark-order-ready
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkOrderRequest'
        required: true
      responses:
        "204":
          description: Successful. No content returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_argument\n| Code | Reason | Message |\n| ----- | ------\
            \ | ------- |\n| 400 | invalid_argument | invalid order state |\n| 400\
            \ | invalid_argument\t| order already marked ready|\n| 400 | invalid_argument\
            \ | invalid markStatus: 0|\n"
      summary: Mark order as ready
      tags:
      - mark-order-ready
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl --location --request POST 'https://partner-api.grab.com/grabfood/partner/v1/orders/mark' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          --data-raw '{
              "orderID": "102445314-C3LWN3CDLCN2JJ",
              "markStatus": 1
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/order/delivery:
    post:
      operationId: update-delivery-state
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderDeliveryRequest'
        required: true
      responses:
        "204":
          description: Successful. No content returned.
      summary: Update delivery state
      tags:
      - update-delivery-state
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -X POST \
          https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/order/delivery \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
            "orderID": "123-CYNKLPCVRN5",
            "fromState": "Collected",
            "toState": "Delivered"
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/order/readytime:
    put:
      operationId: update-order-ready-time
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrderTimeRequest'
        required: true
      responses:
        "204":
          description: Successful. No content returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            invalid_argument
            | Code | Reason | Message |
            | ----- | ----- | ------- |
            | 400 | invalid_argument | invalid new order ready time |
            | 400 | invalid_argument | order ready time not allowed to change |
      summary: Update new order ready time
      tags:
      - update-order-ready-time
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl --location --request PUT 'https://partner-api.grab.com/grabfood/partner/v1/order/readytime' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          --data-raw '{
              "orderID": "102445314-C3LWN3CDLCN2JJ",
              "newOrderReadyTime": "2019-05-24T05:16:00Z"
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/order/cancelable:
    get:
      operationId: check-order-cancelable
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - explode: true
        in: query
        name: orderID
        required: true
        schema:
          $ref: '#/components/schemas/orderID'
        style: form
      - description: The merchant's ID that is in GrabFood's database.
        explode: true
        in: query
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckOrderCancelableResponse'
          description: The API request is successfully processed.
      summary: Check order cancelable
      tags:
      - check-order-cancelable
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl --location --request GET 'https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/order/cancelable?orderID=102445314-C3LWN3CDLCN2JJ&merchantID=1-CYNGRUNGSBCCC' \
          --header 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
      x-accepts:
      - application/json
  /partner/v1/order/cancel:
    put:
      operationId: cancel-order
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
          description: The API request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: invalid_argument
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            This request is forbidden.

            For each 403 HTTP response, a detailed reason will be returned.
            | Type | Message |
            | -------| ------------|
            | Invalid order | Order cannot be cancelled via this endpoint as this order does not belong to you. Please contact Grab Support for further assistance. |
            | Daily limit reached | Order cannot be cancelled via this endpoint as the daily limit for order cancellations has been reached. Please contact Grab Support for further assistance. |
            | Weekly limit reached | Order cannot be cancelled via this endpoint as the weekly limit for order cancellations has been reached. Please contact Grab Support for further assistance. |
            | Monthly limit reached | Order cannot be cancelled via this endpoint as the monthly limit for order cancellations has been reached. Please contact Grab Support for further assistance. |
            | Mix and match order | Order cannot be cancelled via this endpoint as it is part of a GKMM (Grab Kitchen Mix And Match) order. Please contact Grab Support for further assistance. |
            | Self-pick up order | Order cannot be cancelled via this endpoint as it is a self-pick up order. Please contact Grab Support for further assistance. |
            | Scheduled order | Order cannot be cancelled via this endpoint as it is a scheduled order. Please contact Grab Support for further assistance. |
            | Time limit | Order cannot be cancelled via this endpoint as the cancellation time limit has been reached since a driver has been allocated for too long. Please contact Grab Support for further assistance. |
            | Manual-accept stores | Order cannot be cancelled via this endpoint as only stores on auto-accept can use this endpoint. Please contact Grab Support for further assistance. |
            | Outdated driver app | Order cannot be cancelled via this endpoint as the driver's Grab app is outdated. Please contact Grab Support for further assistance. |
            | Unallocated order | Order cannot be cancelled via this endpoint as the order has not been allocated yet. Please contact Grab Support for further assistance. |
            | Default error (edge case) | Order cannot be cancelled via this endpoint as a default error has occured. Please contact Grab Support for further assistance. |
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not_found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            5XX error codes are rare and indicate that GrabFood is facing an internal server error. This type of error is applicable to all HTTP response codes in the 500 range, e.g. 500, 504. Retry the operation at a later time with a unique ID. Use an exponential backoff retry mechanism to resend the requests at an increasingly slower interval. It is also a good practice to use a randomized delay (jitter) in your retry schedule.

            | Type | Message |
            | -------| ------------|
            | Get order error | Get order failed. |
            | Cancel order error | Cancel order failed. |
      summary: Cancel an order
      tags:
      - cancel-order
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl --location --request PUT 'https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/order/cancel' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          --data-raw '{
              "orderID": "102445314-C3LWN3CDLCN2JJ",
              "merchantID": "1-CYNGRUNGSBCCC",
              "cancelCode": 1001
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/merchant/pause:
    put:
      operationId: pause-store
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseStoreRequest'
        required: true
      responses:
        "204":
          description: Successful. No content returned.
      summary: Pause store
      tags:
      - pause-store
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X PUT 'https://partner-api.stg-myteksi.com/grabfood-sandbox/partner/v1/merchant/pause' \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          --data-raw '{
            "merchantID": "6-CYXYRCMXNEKCVA",
            "isPause": true,
            "duration": "30m"
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/campaigns:
    get:
      operationId: list-campaign
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The merchant's ID that is in GrabFood's database.
        explode: true
        in: query
        name: merchantID
        required: true
        schema:
          example: 1-CYNGRUNGSBCCC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignResponse'
          description: The API request is successfully processed.
      summary: List campaigns
      tags:
      - list-campaign
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X GET 'https://partner-api.grab.com/grabfood/partner/v1/campaigns?merchantID=4-CY4VMFMANYBYJ6' \
          -H 'Authorization: Bearer <access_token>'
      x-accepts:
      - application/json
    post:
      operationId: create-campaign
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCampaignResponse'
          description: The API request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            invalid_argument
            | Code | Reason           | Message                            |
            | ---- | ---------------- | ----------------------------------- |
            | 400  | invalid_argument | items not found                  |
            | 400  | invalid_argument | startTime has to be after now    |
            | 400  | invalid_argument | CAMPAIGN_START_TIME_TOO_CLOSE_TO_NOW:failed to create MFC:    |
            | 400  | invalid_argument | CAMPAIGN_DURATION_TOO_LONG:failed to create MFC:    |
            | 400  | invalid_argument | EFFECTIVE_DATE_OVERLAP:failed to create MFC: Item(s) are on multiple promotions in the same promotion period: SGITE2021052909250501859400 (4-CY4VMFMANYBYJ6-CZNZFFL1G8KKLX-94794295)"    |
            | 400  | invalid_argument | EATER_TYPE_CONDITION_IS_NOT_SUPPORTED:failed to create MFC: This level campaign can't be applied for such eater type    |
            | 400  | invalid_argument | INVALID_QUOTAS:failed to create MFC:    |
            | 400  | invalid_argument | INVALID_DISCOUNT_VALUE:failed to create MFC:     |
            | 400  | invalid_argument | INVALID_PARAMS:failed to create MFC: Order level campaign should have min basket condition    |
            | 400  | invalid_argument | INVALID_BUNDLE_OFFER:failed to create MFC: bundle price invalid    |
            | 400  | invalid_argument | INVALID_BUNDLE_OFFER:failed to create MFC: itemIDs should be between 2 and 20    |
            | 400  | invalid_argument | NOT_SUPPORT_BUNDLE_SAME_MULTIPLE_ITEMS:failed to create MFC: bundle multiple items is not supported for same item bundle    |
            | 400  | invalid_argument | EXCEED_ACTIVE_CAMPAIGN_MAX_LIMIT:failed to create MFC: number of same campaign level's promotions exceeds maximum limit(100)    |
      summary: Create campaign
      tags:
      - create-campaign
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/campaigns/{campaign_id}:
    delete:
      operationId: delete-campaign
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          $ref: '#/components/schemas/campaignId'
        style: simple
      responses:
        "204":
          description: The API request is successfully processed.
      summary: Delete campaigns
      tags:
      - delete-campaign
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X DELETE 'https://partner-api.grab.com/grabfood/partner/v1/campaigns/4-CY4VMFMANYBYJ6-C2AGRGBHRCADFA-25547977' \
          -H 'Authorization: Bearer <access_token>'
      x-accepts:
      - application/json
    put:
      operationId: update-campaign
      parameters:
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          $ref: '#/components/schemas/campaignId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
        required: true
      responses:
        "204":
          description: The API request is successfully processed.
      summary: Update campaign
      tags:
      - update-campaign
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/dinein/voucher:
    get:
      operationId: get-dinein-voucher
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: A short code for the dine-in voucher purchased by the user. Required
          if `certificateID` is not specified.
        explode: true
        in: query
        name: voucherCode
        required: false
        schema:
          $ref: '#/components/schemas/voucherCode'
        style: form
      - description: "This certificateID is decoded from scanning the QR code, and\
          \ 1:1 mapping with voucherCode. Required if `voucherCode` is not specified."
        explode: true
        in: query
        name: certificateID
        required: false
        schema:
          $ref: '#/components/schemas/certificateID'
        style: form
      - explode: true
        in: query
        name: merchantID
        required: true
        schema:
          $ref: '#/components/schemas/merchantID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDineInVoucherResponse'
          description: The API request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_argument\n| Code | Reason           | Message    \
            \                                | Description                       \
            \                                                             | \n| ----\
            \ | ---------------- | ------------------------------------------ | ----------------------------------------------------------------------------------------------\
            \ | \n| 400  | invalid_argument | invalid certificateID              \
            \        | The certificateID is not valid.                           \
            \                                     |\n| 400  | invalid_argument | voucherCode\
            \ or certificateID not specified | The voucherCode and certificateID are\
            \ both empty in params, one of the both must be provided.  |\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found\n| Code | Reason      | Message                \
            \      | Description                                                 \
            \                                    | \n| -----| ----------- | ----------------------------\
            \ | -----------------------------------------------------------------------------------------------\
            \ | \n| 404  | not_found   | voucher not found            | The voucher\
            \ is not found for the specified voucherCode or certificateID.       \
            \                 |\n| 404  | not_found   | failed to get store info \
            \    | The store is not found for the specified merchantID.          \
            \                                   |\n"
      summary: Get Dine In Voucher
      tags:
      - get-dinein-voucher
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -L -X GET 'https://partner-api.grab.com/grabfood/partner/v1/dinein/voucher?voucherCode=GV-OQBJDKZH&certificateID=PPD#h9YygDAZhWkZVD50bT_xnM0bEFqTayuOdmHEhqJ4YAeDFPD3OKsEVg==&merchantID=4-C2YEK6CGZMTEX' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
      x-accepts:
      - application/json
  /partner/v1/dinein/voucher/redeem:
    post:
      operationId: redeem-dinein-voucher
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemDineInVoucherRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemDineInVoucherResponse'
          description: The API request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_argument\n| Code | Reason           | Message    \
            \                                | Description                       \
            \                                                                    \
            \    | \n| ---- | ---------------- | ------------------------------------------\
            \ | ---------------------------------------------------------------------------------------------------------\
            \ | \n| 400  | invalid_argument | invalid certificateID              \
            \        | The certificateID is not valid.                           \
            \                                                |\n| 400  | invalid_argument\
            \ | not enabled                                | The QR redemption feature\
            \ is not enabled for the merchant, please reach out to the integration\
            \ manager    |\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found\n| Code | Reason      | Message                \
            \      | Description                                                 \
            \                                    | \n| -----| ----------- | ----------------------------\
            \ | -----------------------------------------------------------------------------------------------\
            \ | \n| 404  | not_found   | voucher not found            | The voucher\
            \ is not found for the specified voucherCode or certificateID.       \
            \                 |\n| 404  | not_found   | failed to get store info \
            \    | The store is not found for the specified merchantID.          \
            \                                  |\n"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "internal\n| Code | Reason      | Message                 \
            \     | Description                                                  \
            \                                   | \n| -----| ----------- | ----------------------------\
            \ | -----------------------------------------------------------------------------------------------\
            \ | \n| 500  | internal    | redeem failed                | Redemption\
            \ failed, please try again later.                                    \
            \                  |\n"
      summary: Redeem Dine In Voucher
      tags:
      - redeem-dinein-voucher
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -X POST 'https://partner-api.grab.com/grabfood/partner/v1/dinein/voucher/redeem' \
          -H 'Content-Type: application/json' \
          -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
          -d '{
              "certificateID": "PPD%23-lQi823X7Te-MCXUW1ynhA7PEpXjeml2xqB2KTIvNdXzu3M_R8mLtA==",
              "merchantID": "1-C3VEJY6CMEEGUE"
          }'
      x-content-type: application/json
      x-accepts:
      - application/json
  /partner/v1/membership/notify:
    post:
      operationId: notify-membership-webview
      parameters:
      - description: Specify the generated authorization token of the bearer type.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer <ACCESS_TOKEN_HERE>
          type: string
        style: simple
      - description: The content type of the request body. You must use `application/json`
          for this header as GrabFood API currently does not support other formats.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyMembershipWebviewRequest'
        required: true
      responses:
        "204":
          description: Success. No content returned.
        "4xx":
          description: Failed.
      summary: Notify Membership
      tags:
      - notify-membership-webview
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: |
          curl -X POST \
            'https://partner-api.grab.com/grabfood/partner/v1/membership/notify' \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer <BEARER_TOKEN_HERE>' \
            -d '{
              "memberID": "A12345689",
              "grabID": "b2abcd0b-69b0-3369-9603-68345a5f4f0a",
              "merchantID": "1-CYNGRUNGSBCCC",
              "action": "LINK"
            }'
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    Authorization:
      description: Specify the generated authorization token of the bearer type.
      explode: false
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer <ACCESS_TOKEN_HERE>
        type: string
      style: simple
    Content-Type:
      description: The content type of the request body. You must use `application/json`
        for this header as GrabFood API currently does not support other formats.
      explode: false
      in: header
      name: Content-Type
      required: true
      schema:
        example: application/json
        type: string
      style: simple
    MerchantID:
      description: The merchant's ID that is in GrabFood's database.
      explode: false
      in: path
      name: merchantID
      required: true
      schema:
        example: 1-CYNGRUNGSBCCC
        type: string
      style: simple
    MerchantIDinQuery:
      description: The merchant's ID that is in GrabFood's database.
      explode: true
      in: query
      name: merchantID
      required: true
      schema:
        example: 1-CYNGRUNGSBCCC
        type: string
      style: form
  schemas:
    PartnerOauthRequest:
      description: |
        Information about GrabFood getting an OAuth access token from partners.
      properties:
        client_id:
          description: The client identifier issued to obtain the OAuth access token.
          example: <CLIENT_ID>
          maxLength: 32
          type: string
        client_secret:
          description: The client secret issued to obtain the OAuth access token.
          example: <CLIENT_SECRET>
          maxLength: 32
          type: string
        grant_type:
          description: Refers to the way an application gets OAuth access token.
          example: client_credentials
          type: string
        scope:
          description: A space delimited list of partner scopes.
          example: food.partner_api
          type: string
      required:
      - client_id
      - client_secret
      - grant_type
      title: OauthRequestPartner
      type: object
    PartnerOauthResponse:
      properties:
        access_token:
          description: The OAuth 2.0 access token issued by the partner.
          example: eyJhbGciOiJSUzI1NiIsImtpZCI6Il9kZWZhdWx0IiwidHlwIjoiSldUIn0.eyJhdWQiOiI1NWRkNzEyZTViNWY0MDQyYTEzZjVkZTM0ZjM4NmVjMSIsImV4cCI6MTU2MDMwMDgzMSwiaWF0IjoxNTU5Njk2MDMxLCJpc3MiOiJodHRwczovL2lkcC5ncmFiLmNvbSIsImp0aSI6InFJZDB6Wmh1UkhxX0F4STZPdncwekEiLCJuYmYiOjE1NTk2OTU4NTEsInBpZCI6IjIwM2E5MmFmLTJmN2ItNDNjZS1hNTVmLTc5NGE4ZWQzZWE2NyIsInBzdCI6MSwic2NwIjoiW1wiYzE2MWM0NTdlZGVlNGExYmI4YTQwMzZmMDM5ZTYzZDZcIl0iLCJzdWIiOiJUV09fTEVHR0VEX09BVVRIIiwic3ZjIjoiIiwidGtfdHlwZSI6ImFjY2VzcyJ9.DEpeDobxey2YIEiAYWJ4zB5chCwGwc7Fojb8GEjnn4bORqb8-vDD5zQ-X7BRPRxAUv0MVam4q2annB4z4tEBNYYv1PW-w9UiJ-224kR8QJ1lWOsN9ZKibSWRMS6Mt9LN3r0_VSTDQB_X0QzMOOV00EeloMTbf6TKJ-3YQwDuD8GJeK1aNaLFmfcQC6avvyGcfO2VFnDDnLbDLmJ-oYQXn9Xb7SX_GDsnWUukxaOriQFW7PW0JVSvrAmq3lV5C1aioDI_qJD0MV065MJJT9xOVPIf_Myq5R6AHTF5Gon6ga3eA8fAYNpQ9Qbmq2jH-aFYBMcx27fL2-4vIhBCHKnhww
          type: string
        token_type:
          description: The type of token issued which is case insensitive.
          enum:
          - Bearer
          type: string
        expires_in:
          description: The access token lifespan in seconds.
          example: 604799
          type: integer
      title: OauthResponse
      type: object
    GetMenuNewResponse:
      description: ""
      properties:
        merchantID:
          description: The merchant's ID that is in GrabFood's database.
          example: 1-CYNGRUNGSBCCC
          title: merchantID
          type: string
        partnerMerchantID:
          description: The merchant's ID that is on the partner's database.
          example: Partner-ABECU
          title: partnerMerchantID
          type: string
        currency:
          $ref: '#/components/schemas/currency'
        sellingTimes:
          description: "An array of sellingTimes JSON objects. Max 20 allowed. Refer\
            \ to [Selling Times](#selling-times) for more information."
          items:
            $ref: '#/components/schemas/SellingTime'
          required:
          - endTime
          - id
          - name
          - serviceHours
          - startTime
          title: sellingTimes
          type: array
        categories:
          description: "An array of category JSON objects. Max 100 allowed per section.\
            \ Refer to [Categories](#categories) for more information."
          items:
            $ref: '#/components/schemas/MenuCategory'
          title: categories
          type: array
      required:
      - categories
      - currency
      - sellingTimes
      title: Selling Time Based
      type: object
    GetMenuOldResponse:
      description: ""
      properties:
        merchantID:
          description: The merchant's ID that is in GrabFood's database.
          example: 1-CYNGRUNGSBCCC
          title: merchantID
          type: string
        partnerMerchantID:
          description: The merchant's ID that is on the partner's database.
          example: Partner-ABECU
          title: partnerMerchantID
          type: string
        currency:
          $ref: '#/components/schemas/currency'
        sections:
          description: "An array of section JSON objects. Max 7 allowed. Refer to\
            \ [Sections](#sections) for more information."
          items:
            $ref: '#/components/schemas/MenuSection'
          title: sections
          type: array
      required:
      - currency
      - sections
      title: Section Based
      type: object
    MenuSyncWebhookRequest:
      description: |
        This request pushes the state of a menu sync operation.
      properties:
        requestID:
          description: |
            An universally unique identifier (UUID) string. Used to uniquely identify a webhook request.
            Partners should use this value to distinguish between different webhook requests. If two requests contain the same requestID, only the first request should be considered and later requests **must** be ignored or discarded.
          example: 6b5e362a-caa1-4858-908b-dae145d317bc
          type: string
        merchantID:
          description: The merchant's ID that is in GrabFood's database.
          example: 1-CYNGRUNGSBCCC
          title: merchantID
          type: string
        partnerMerchantID:
          description: The merchant's ID that is on the partner's database.
          example: Partner-ABECU
          title: partnerMerchantID
          type: string
        jobID:
          description: |
            An UUID string. Uniquely identifies a menu sync job.
            This can be found from the [Menu Update Notification](#tag/update-menu-noti) API response header.
          example: 36bb8bb8-4aef-4eca-bed9-fd5ae1e4dc11
          type: string
        updatedAt:
          description: |
            Indicates the time of menu sync status change.
            This is based on ISO_8601/RFC3339. For example: `2022-07-29T15:55:59Z`.
          example: 2022-07-29T15:55:59Z
          type: string
        status:
          description: Indicates the state of the menu sync job.
          enum:
          - QUEUEING
          - PROCESSING
          - SUCCESS
          - FAILED
          type: string
        errors:
          description: A string array of errors that occurred during processing. This
            array is empty if the status is not `FAILED`.
          items:
            type: string
            example: null
          type: array
      title: MenuSyncWebhookRequest
      type: object
    SubmitOrderRequest:
      description: |
        A JSON object containing the order information.
      example:
        scheduledTime: 2019-05-24T08:26:00Z
        receiver:
          address:
            poiSource: GRAB
            address: "123, Jalan Eater street, Batu Caves, 12345, Selangor"
            postcode: "123456"
            coordinates:
              latitude: 1.234567
              longitude: 3.456789
            unitNumber: 3-45
            deliveryInstruction: turn left in 2 floor.
            poiID: poiID
          name: Prashanth
          phones: "60122234704"
        orderID: 123-CYNKLPCVRN5
        partnerMerchantID: Partner-ABECU
        cutlery: true
        completeTime: 2019-05-24T05:26:00Z
        membershipID: 12345678Z
        paymentType: CASH
        orderState: DELIVERED
        shortOrderNumber: GF-123
        orderTime: 2019-05-24T05:06:00Z
        submitTime: 2019-05-24T05:16:00Z
        campaigns:
        - level: item
          deductedAmount: 475
          freeItem:
            quantity: 1
            price: 10
            name: Free tote bag
            id: item-2
          appliedItemIDs:
          - item-1
          - item-1
          name: 20% off Deal Of the day
          deductedPart: basket_amount
          id: id
          type: percentage
          campaignNameForMex: DEAL_20%_BURGER_OCT
          usageCount: 1
          mexFundedRatio: 100
        - level: item
          deductedAmount: 475
          freeItem:
            quantity: 1
            price: 10
            name: Free tote bag
            id: item-2
          appliedItemIDs:
          - item-1
          - item-1
          name: 20% off Deal Of the day
          deductedPart: basket_amount
          id: id
          type: percentage
          campaignNameForMex: DEAL_20%_BURGER_OCT
          usageCount: 1
          mexFundedRatio: 100
        merchantID: 1-CYNGRUNGSBCCC
        price:
          deliveryFee: 400
          subtotal: 2550
          merchantChargeFee: 0
          grabFundPromo: 300
          basketPromo: 775
          tax: 117
          merchantFundPromo: 475
          eaterPayment: 2175
        orderReadyEstimation:
          maxOrderReadyTime: 2019-05-24T05:16:00Z
          newOrderReadyTime: 2019-05-24T05:26:00Z
          estimatedOrderReadyTime: 2019-05-24T05:16:00Z
          allowChange: true
        currency:
          symbol: S$
          code: SGD
          exponent: 2
        items:
        - quantity: 1
          grabItemID: IDGFSTI000004qy1490868132306763533
          price: 2550
          tax: 144
          id: item-1
          modifiers:
          - quantity: 0
            price: 175
            tax: 10
            id: modifier-1
          - quantity: 0
            price: 175
            tax: 10
            id: modifier-1
          specifications: less sugar and chili
          outOfStockInstruction:
            replacementItemID: ITEM-2
            instructionType: SPECIFIC_ITEM
            replacementGrabItemID: IDGFSTI000004qy1490868132303452210
            title: Replace item
        - quantity: 1
          grabItemID: IDGFSTI000004qy1490868132306763533
          price: 2550
          tax: 144
          id: item-1
          modifiers:
          - quantity: 0
            price: 175
            tax: 10
            id: modifier-1
          - quantity: 0
            price: 175
            tax: 10
            id: modifier-1
          specifications: less sugar and chili
          outOfStockInstruction:
            replacementItemID: ITEM-2
            instructionType: SPECIFIC_ITEM
            replacementGrabItemID: IDGFSTI000004qy1490868132303452210
            title: Replace item
        promos:
        - promoAmountInMin: 300
          code: promo_code
          mexFundedAmount: 0
          promoAmount: 3
          name: Order now!
          targetedPrice: 2550
          description: $3 off for entire order!
          mexFundedRatio: 0
        - promoAmountInMin: 300
          code: promo_code
          mexFundedAmount: 0
          promoAmount: 3
          name: Order now!
          targetedPrice: 2550
          description: $3 off for entire order!
          mexFundedRatio: 0
        dineIn:
          eaterCount: 2
          tableID: "1"
        featureFlags:
          orderType: DeliveredByGrab
          orderAcceptedType: AUTO
          isMexEditOrder: false
      properties:
        orderID:
          description: "The order's ID that is returned from GrabFood. Refer to FAQs\
            \ for more details about [orderID and shortOrderNumber](#section/Order/What's-the-difference-between-orderID-and-shortOrderNumber)."
          example: 123-CYNKLPCVRN5
          title: orderID
          type: string
        shortOrderNumber:
          description: "The GrabFood short order number. This is unique for each merchant\
            \ per day. Refer to FAQs for more details about [orderID and shortOrderNumber](#section/Order/What's-the-difference-between-orderID-and-shortOrderNumber)."
          example: GF-123
          type: string
        merchantID:
          description: The merchant's ID that is in GrabFood's database.
          example: 1-CYNGRUNGSBCCC
          title: merchantID
          type: string
        partnerMerchantID:
          description: The merchant's ID that is on the partner's database.
          example: Partner-ABECU
          title: partnerMerchantID
          type: string
        paymentType:
          description: "The payment method used. Refer to FAQs for more details about\
            \ [paymentType](#section/Order/Does-the-paymentType-affect-partners)."
          enum:
          - CASH
          - CASHLESS
          type: string
        cutlery:
          description: "The boolean value to indicate whether cutlery are needed or\
            \ not. Refer to FAQs for more details about [cutlery](#section/Order/What-do-the-true-or-false-values-mean-for-cutlery)."
          type: boolean
        orderTime:
          description: "The UTC time that a consumer places the order, based on ISO_8601/RFC3339."
          example: 2019-05-24T05:06:00Z
          type: string
        submitTime:
          description: "The order submit time, based on ISO_8601/RFC3339. Only present\
            \ in the [List Orders](#tag/list-order) response."
          example: 2019-05-24T05:16:00Z
          format: date-time
          type: string
        completeTime:
          description: "The order complete time, based on ISO_8601/RFC3339. Only present\
            \ in the [List Orders](#tag/list-order) response."
          example: 2019-05-24T05:26:00Z
          format: date-time
          type: string
        scheduledTime:
          description: "The order scheduled time, based on ISO_8601/RFC3339. Empty\
            \ for non-scheduled orders."
          example: 2019-05-24T08:26:00Z
          type: string
        orderState:
          description: "The state of the order. Only present in the [List Orders](#tag/list-order)\
            \ response. Refer to [Order States](#section/Order-states)."
          example: DELIVERED
          type: string
        currency:
          $ref: '#/components/schemas/currency'
        featureFlags:
          $ref: '#/components/schemas/orderFeatureFlags'
        items:
          description: "The items in an array of JSON Object. Refer to [Items](#items)\
            \ for more information."
          items:
            $ref: '#/components/schemas/OrderItem'
          title: orderItems
          type: array
        campaigns:
          description: |
            The campaigns that are applicable for the order.`null` when there is no campaign applied.
          items:
            $ref: '#/components/schemas/OrderCampaign'
          nullable: true
          title: campaigns
          type: array
        promos:
          description: An array of promotion objects. Only promotions that are funded
            by merchants will be sent.
          items:
            $ref: '#/components/schemas/OrderPromo'
          title: promos
          type: array
        price:
          $ref: '#/components/schemas/orderPrice'
        dineIn:
          $ref: '#/components/schemas/dineIn'
        receiver:
          $ref: '#/components/schemas/receiver'
        orderReadyEstimation:
          $ref: '#/components/schemas/orderReadyEstimation'
        membershipID:
          description: Membership ID for loyalty project. Only present for loyalty
            program partners.
          example: 12345678Z
          type: string
      required:
      - currency
      - cutlery
      - featureFlags
      - items
      - merchantID
      - orderID
      - orderTime
      - paymentType
      - price
      - shortOrderNumber
      title: Order
      type: object
    OrderStateRequest:
      description: |
        This request pushes the state of an order on GrabFood.
      properties:
        merchantID:
          description: The merchant's ID that is in GrabFood's database.
          example: 1-CYNGRUNGSBCCC
          title: merchantID
          type: string
        orderID:
          description: "The order's ID that is returned from GrabFood. Refer to FAQs\
            \ for more details about [orderID and shortOrderNumber](#section/Order/What's-the-difference-between-orderID-and-shortOrderNumber)."
          example: 123-CYNKLPCVRN5
          title: orderID
          type: string
        state:
          description: "The current order state. For takeaway orders, only `DELIVERED`\
            \ and `CANCELLED` states are pushed."
          enum:
          - ACCEPTED
          - DRIVER_ALLOCATED
          - DRIVER_ARRIVED
          - COLLECTED
          - DELIVERED
          - FAILED
          - CANCELLED
          example: CANCELLED
          type: string
        driverETA:
          description: The driver's estimated of arrival (ETA) in seconds when the
            state is `DRIVER_ALLOCATED`.
          nullable: true
          type: integer
          example: null
        code:
          description: "The current order's sub-state. This is in free text so you\
            \ should only use for reference. Grab may use this for troubleshooting.\
            \ If you want some analysis, kindly use `state` instead."
          example: CANCELLED
          type: string
        message:
          description: Additional information to explain the current order state.
            May be system status or human entered message.
          example: We're too busy right now.
          type: string
      required:
      - merchantID
      - orderID
      - state
      title: OrderStateRequest
      type: object
    BindMembershipNativeRequest:
      description: |
        This request submits membership binding request to partner.
      properties:
        grabID:
          description: The id used to identify an unique grab user.
          example: b2abcd0b-69b0-3369-9603-68345a5f4f0a
          type: string
        phoneNumber:
          description: Grab user phone number used to login.
          example: "60188888888"
          type: string
      required:
      - grabID
      title: Bind Membership Request
      type: object
    BindMembershipNativeResponse:
      description: |
        This response returns membershipID after membership binding is successful.
      properties:
        memberID:
          description: The unique member ID on the partner's database.
          example: A12345689
          type: string
      required:
      - memberID
      title: Bind Membership Response
      type: object
    RegisterMembershipNativeRequest:
      description: |
        This request submits membership registration request to partner.
      properties:
        grabID:
          description: The id used to identify an unique grab user.
          example: b2abcd0b-69b0-3369-9603-68345a5f4f0a
          type: string
        phoneNumber:
          description: Grab user's phone number for registration.
          example: "60188888888"
          type: string
        name:
          description: Grab user's name for registration.
          example: John Doe
          type: string
        email:
          description: Grab user's email address for registration.
          example: john.doe8888@gmail.com
          type: string
      required:
      - grabID
      title: Register Membership Request
      type: object
    RegisterMembershipNativeResponse:
      description: |
        This response returns membershipID after membership binding is successful.
      properties:
        memberID:
          description: The unique member ID on the partner's database.
          example: A12345689
          type: string
      required:
      - memberID
      title: Bind Membership Response
      type: object
    UnbindMembershipNativeRequest:
      description: |
        This request submits membership unbind request to partner.
      properties:
        memberID:
          description: The unique member ID on the partner's database.
          example: A12345689
          type: string
      required:
      - memberID
      title: Unbind Membership Request
      type: object
    UnlinkMembershipWebviewRequest:
      description: |
        This request submits membership unbind request to partner.
      properties:
        memberID:
          description: The unique member ID on the partner's database.
          example: A12345689
          type: string
      required:
      - memberID
      title: Unlink Membership Request
      type: object
    GetMembershipRequest:
      description: |
        This request submits membership unbind request to partner.
      properties:
        memberID:
          description: The unique member ID on the partner's database.
          example: A12345689
          type: string
      required:
      - memberID
      title: Unbind Membership Request
      type: object
    GetMembershipNativeResponse:
      description: |
        This response returns membership detail.
      properties:
        membershipStatus:
          description: Status of the memberID.
          enum:
          - VALID
          - INVALID
          example: VALID
          type: string
        pointInfo:
          $ref: '#/components/schemas/GetMembershipNativeResponse_pointInfo'
        pointsExpireDate:
          description: Earliest points expiry date. In `yyyy-mm-dd` format
          example: 2024-06-24
          type: string
      title: Get Membership (Native)
      type: object
    GetMembershipWebviewResponse:
      description: |
        This response returns membership detail.
      properties:
        membershipStatus:
          description: Status of the memberID.
          enum:
          - VALID
          - INVALID
          example: VALID
          type: string
      title: Get Membership (Webview)
      type: object
    GetRewardNativeRequest:
      description: |
        This request submits membership detail and order value to get reward calculation.
      properties:
        memberID:
          description: The unique member ID on the partner's database.
          example: A12345689
          type: string
        merchantID:
          description: Grab merchant's ID.
          example: 1-CYNGRUNGSBCCC
          type: string
        items:
          items:
            $ref: '#/components/schemas/RewardItem'
          type: array
        orderValue:
          description: The post-discount order value.
          example: 25
          format: int64
          type: integer
      title: Get Reward Request
      type: object
    GetRewardNativeResponse:
      description: |
        This response returns reward points earn for this order.
      properties:
        points:
          description: The reward points earned in this purchase.
          example: 10
          format: int64
          type: integer
      required:
      - points
      title: Get Reward Response
      type: object
    UpdateSpecialHourRequest:
      description: Object contains store special hours.
      example:
        specialOpeningHours:
        - metadata:
            description: New Year Opening Hours
          endDate: 2024-02-04
          openingHours:
            openPeriodType: Period
            periods:
            - startTime: 11:30
              endTime: 21:30
            - startTime: 11:30
              endTime: 21:30
          startDate: 2024-02-01
        - metadata:
            description: New Year Opening Hours
          endDate: 2024-02-04
          openingHours:
            openPeriodType: Period
            periods:
            - startTime: 11:30
              endTime: 21:30
            - startTime: 11:30
              endTime: 21:30
          startDate: 2024-02-01
      properties:
        specialOpeningHours:
          description: An array of objects contain store special hours. Max. 3 array
            elements.
          items:
            $ref: '#/components/schemas/specialOpeningHour'
          type: array
      required:
      - specialOpeningHours
      title: UpdateSpecialHourRequest
      type: object
    UpdateSpecialHourResponse:
      description: Object contain update store special hour response
      example:
        closeImmediately: false
        orderCount: 2
        scheduledOrderCount: 0
        errorReasons:
        - PendingOrders
        - PendingOrders
      properties:
        errorReasons:
          description: Error message when updating store delivery hour. `null` indicates
            no error.
          items:
            enum:
            - PendingOrders
            type: string
          nullable: true
          type: array
        orderCount:
          description: Total active order for the day.
          example: 2
          format: int64
          type: integer
        scheduledOrderCount:
          description: Total scheduled order during store close period.
          format: int64
          type: integer
        closeImmediately:
          description: Indicate the store status after updating special hours.
          example: false
          type: boolean
      required:
      - closeImmediately
      - orderCount
      - scheduledOrderCount
      title: UpdateStoreSpecialHourResponse
      type: object
    UpdateDineInHourRequest:
      description: Object contains store dine-in hours.
      example:
        dineInHour:
          thu:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          tue:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          wed:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sat:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          fri:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          mon:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sun:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
      properties:
        dineInHour:
          $ref: '#/components/schemas/storeHour'
      required:
      - dineInHour
      title: UpdateDineInHourRequest
      type: object
    UpdateDineInHourResponse:
      description: Object contain update store dine-in hour response
      example:
        errorReasons:
        - errorReasons
        - errorReasons
      properties:
        errorReasons:
          description: Error message when updating store dine-in hour. `null` indicates
            no error.
          items:
            type: string
          nullable: true
          type: array
      title: UpdateStoreDineInHourResponse
      type: object
    UpdateDeliveryHourRequest:
      description: Object contains store delivery hours.
      example:
        openingHour:
          thu:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          tue:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          wed:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sat:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          fri:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          mon:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sun:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
        force: true
      properties:
        openingHour:
          $ref: '#/components/schemas/storeHour'
        force:
          description: To enable force update store delivery hours. Error will be
            returned if set to false while there is ongoing order.
          type: boolean
      required:
      - force
      - openingHour
      title: UpdateDeliveryHourRequest
      type: object
    UpdateDeliveryHourResponse:
      description: Object contain update store delivery hour response
      example:
        closeImmediately: false
        orderCount: 2
        scheduledOrderCount: 0
        errorReasons:
        - ClosingHoursIneffective
        - ClosingHoursIneffective
      properties:
        errorReasons:
          description: Error message when updating store delivery hour. `null` indicates
            no error.
          items:
            enum:
            - ClosingHoursIneffective
            - ForceUpdated
            - PendingScheduledOrders
            - PendingOrders
            type: string
          nullable: true
          type: array
        orderCount:
          description: Total active order for the day.
          example: 2
          format: int64
          type: integer
        scheduledOrderCount:
          description: Total scheduled order during store close period.
          format: int64
          type: integer
        closeImmediately:
          description: Indicate the store status after updating delivery hours.
          example: false
          type: boolean
      required:
      - closeImmediately
      - orderCount
      - scheduledOrderCount
      title: UpdateStoreDeliveryHourResponse
      type: object
    StoreStatusResponse:
      description: Object contains store status info
      example:
        isInSpecialOpeningHourRange: false
        isOpen: false
        closeReason: mex_paused
      properties:
        closeReason:
          description: The code of store close reason. Blank indicates store is currently
            open.
          enum:
          - mex_paused
          - ops_paused
          - out_of_special_opening_hours
          - out_of_opening_hours
          - inactive
          - ops_paused_without_comm
          - restricted
          - suspended
          - parse_data_fail
          - ""
          type: string
        isInSpecialOpeningHourRange:
          description: Indicate whether the store is in special opening hour range.
          example: false
          type: boolean
        isOpen:
          description: Indicate whether the store is open.
          example: false
          type: boolean
      required:
      - closeReason
      - isInSpecialOpeningHourRange
      - isOpen
      title: StoreStatusResponse
      type: object
    Error:
      example:
        reason: error_reason
        message: error detail
        target: ""
      properties:
        target:
          description: Target of error
          example: ""
          type: string
        reason:
          description: The type of error.
          example: error_reason
          type: string
        message:
          description: The details of the error.
          example: error detail
          type: string
      title: Error
      type: object
    StoreHourResponse:
      description: Object contain store hour info
      example:
        openingHour:
          thu:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          tue:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          wed:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sat:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          fri:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          mon:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sun:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
        specialOpeningHours:
        - metadata:
            description: New Year Opening Hours
          endDate: 2024-02-04
          openingHours:
            openPeriodType: Period
            periods:
            - startTime: 11:30
              endTime: 21:30
            - startTime: 11:30
              endTime: 21:30
          startDate: 2024-02-01
        - metadata:
            description: New Year Opening Hours
          endDate: 2024-02-04
          openingHours:
            openPeriodType: Period
            periods:
            - startTime: 11:30
              endTime: 21:30
            - startTime: 11:30
              endTime: 21:30
          startDate: 2024-02-01
        dineInHour:
          thu:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          tue:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          wed:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sat:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          fri:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          mon:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
          sun:
          - startTime: 11:30
            endTime: 21:30
          - startTime: 11:30
            endTime: 21:30
      properties:
        dineInHour:
          $ref: '#/components/schemas/storeHour'
        openingHour:
          $ref: '#/components/schemas/storeHour'
        specialOpeningHours:
          description: The store's special opening hours.
          items:
            $ref: '#/components/schemas/specialOpeningHour'
          type: array
      title: StoreHourResponse
      type: object
    GrabOauthRequest:
      description: |
        Information about the GrabFood client getting an OAuth 2.0 access token from partners.
      example:
        grant_type: client_credentials
        scope: food.partner_api
        client_secret: <CLIENT_SECRET>
        client_id: <CLIENT_ID>
      properties:
        client_id:
          description: The client identifier issued to the client to obtain the OAuth
            2.0 access_token.
          example: <CLIENT_ID>
          maxLength: 32
          type: string
        client_secret:
          description: The client secret issued to the client to obtain the OAuth
            2.0 access_token.
          example: <CLIENT_SECRET>
          maxLength: 32
          type: string
        grant_type:
          description: The grant type for the client to obtain the OAuth 2.0 access_token.
          example: client_credentials
[...]
